<div class="mt-3">
  <div class="form-group">
    <input class="form-control"
      placeholder="Filtra el listado"
      [(ngModel)]="filtroTareas"/>
  </div>
</div>

<div class="mt-3" *ngIf="listadoTareas.length > 0" >
  <div class="list-group mt-3" *ngIf="listadoTareas.length > 0">
    <div class="list-group-item"
      *ngFor="let item of listadoTareas | todoFilter: filtroTareas"
      [class.tarea-completa]="item.completo">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7">
          <span>
            <strong>{{ item.nombre | uppercase }}</strong><br />
            <small>{{ item.fecha | date : 'dd/MM/yyyy' }}</small>
          </span>
        </div>

        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 text-right">
          <button
            type="button"
            [routerLink]="['/detalle/'+ item.id]"
            class="btn btn-info mr-1">
            Complementar
          </button>

          <button type="button"
            *ngIf="!item.completo"
            class="btn btn-warning mr-1">Remover</button>

          <button type="button"
            class="btn btn-success"
            *ngIf="!item.completo"
            (click)="completarTarea(item)">
            Completar
          </button>

          <button type="button" *ngIf="item.completo"
            class="btn btn-warning"
            (click)="restaurar(item)"
            (click)="item.completo = false">Restaurar</button>
        </div>
      </div>
    </div>
  </div>
</div>
