<div class="container p-5">
  <app-todo-form
    (agregarTareaEvent)="agregaTarea($event)">
  </app-todo-form>

  <app-todo-list
    [listadoTareas]="listadoTareas"
    (restaurarTareaEvent)="restaurar($event)"
    (completarTareaEvent)="completar($event)"
  ></app-todo-list>
</div>
