<div class="container p-5">
  <div class="card">
    <div class="card-header">
      Detalle de tarea!
    </div>
    <div class="card-body">
      <div class="list-group">
        <div class="list-group-item">
          <strong>Nombre</strong>
          {{ currentTodo.nombre}}
        </div>
        <div class="list-group-item">
          <strong>Fecha de creación</strong>
          {{ currentTodo.fecha | date: 'dd/MM/yyyy'}}
        </div>
      </div>

      <hr />

      <div class="row" [formGroup]="detalleTodo">
        <div class="form-group col-md-12">
          <label for="responsable">
            <strong>Responsable</strong>
          </label>
          <input
            formControlName="responsable"
            type="text"
            class="form-control"
            id="responsable"
            placeholder="Persona responsable de finalizar la tarea"/>
        </div>

        <div class="col-md-6">
          <label for="Esfuerzo">
            <strong>Esfuerzo (en horas)</strong>
          </label>
          <input
            formControlName="esfuerzo"
            type="number"
            class="form-control"
            id="Esfuerzo"
            placeholder="Esfuerzo en horas para finalizar la tarea"/>
        </div>
        <div class="col-md-6">
          <label for="puntaje">
            <strong>Prioridad</strong>
          </label>
          <input
            formControlName="prioridad"
            type="number"
            class="form-control"
            id="puntaje"
            placeholder="Puntaje de prioridad de la tarea"/>
        </div>

        <div class="col-md-12 mt-2">
          <label for="descripcion">
            <strong>Descripción</strong>
          </label>
          <textarea
            id="descripcion"
            class="form-control"
            rows="5"
            formControlName="descripcion"
            ></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button type="button" class="btn btn-success" (click)="complementar()">Complementar info</button>
    </div>
  </div>
</div>
