<div class="card">
  <div class="card-header">
    Hola mundo
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Tarea</label>
      <input class="form-control"
        placeholder="Pongamos una tarea para arrancar a trabajar"
        [(ngModel)]="tarea"/>
    </div>
  </div>

  <div class="card-footer text-right">
    <button type="button"
      class="btn btn-success"
      (click)="agregaTarea()">Agregar</button>
  </div>
</div>
